.file-upload-container {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  align-items: center; /* Vertically center align the items */
  padding: 20px;
  justify-content: flex-start; /* Align items to the left */
}

.file-upload-container input[type="file"] {
  margin-right: 10px; /* Space between the input and the button */
}

.file-upload-container button {
  cursor: pointer;
}
