.file-upload-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: flex-start;
}

.file-upload-container input[type="file"] {
  margin-right: 10px;
}

.file-upload-container button {
  cursor: pointer;
}
